label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-image: url(wood.png);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.background-color {
  background-image: url(wood.png);
}

@import "~antd/dist/antd.css";
@import "./style//StyleProduced.css";

.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background-image: url(wood2.jpg);
}
[data-theme="dark"] .ant-layout-header {
  background-image: url(wood2.jpg);
}
[data-theme="dark"] .ant-layout-footer {
  background-image: url(wood2.jpg);
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background-image: url(wood.png);
}
[data-theme="dark"] .ant-layout-sider {
  background-image: url(wood.png);
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  background-image: url(wood.png);
}
[data-theme="dark"] .ant-layout-content {
  background-image: url(wood.png);
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 120px;
  height: 100vh;
  background-image: url(wood.png);
}

.rowItem {
  margin-top: 55px;
  margin-left: 243px;
  display: flex;
}

.colums {
  height: 280px;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  margin: 22px 0px;
  margin-left: 32px;
}

.Card-item {
  width: 218px;
}

.ant-card-cover > * {
  display: block;
  width: 214px;
}

.ant-card-body {
  padding: 0 0;
  height: 118px;
  width: 215px;
}

.ant-card-meta-description {
  color: rgba(0, 0, 0, 0.45);
  margin-left: 24px;
  margin-top: 4px;
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-left: 15px;
  margin-top: 13px;
  margin-bottom: -5px;
  font-size: 24px;
}

.ant-card-cover img {
  border-radius: 9px 9px 9px 9px;
  height: 188px;
}

.ant-btn-block {
  width: 44%;
  margin-left: 116px;
  margin-top: 17px;
}
.ant-layout-content {
  margin: 0 0;
}

.Breadcrumb-Header {
  height: 47px;
}

.login {
  position: absolute;
  right: 23px;
  top: 13px;
}

.btn-login {
  position: absolute;
  width: 113px;
  top: 10px;
  right: 20px;
  margin: 0 0;
}

.btn-registration {
  position: absolute;
  width: 113px;
  top: 10px;
  right: 140px;
  margin: 0 0;
}

.ant-breadcrumb .anticon {
  font-size: 30px;
  right: 222px;
  top: 43px;
  color: white;
}

.Logo {
  height: 62px ;
  width: 78px ;
  margin-top: -1.5px;
}

.Input-Search {
  position: relative;
  top: 5px;
  left: 35px;
  width: 838px;
  height: 44px;
  margin: 1px 1px;
  padding: 3px 0px;
  border-radius: 3px;
  background-color: white;
}

.Input-Search-text {
  position: absolute;
  outline: none;
  width: 722px;
  height: 41px;
  padding-left: 0px;
  border-radius: 3px;
  border: none;
  margin-left: 15px;
  color: #666;
  top: 1px;
}

.icon-card {
  position: absolute;
  top: 43px;
  font-size: 20px;
}

.btn-Search {
  position: absolute;
  top: 3px;
  right: 8px;
  border-radius: 5px;
  height: 34px;
  width: 94px;
  padding: 0px 0px;
}

.ant-btn > .anticon {
  line-height: 0;
}

.btn-search-icon {
  color: white;
  margin: 0px 0;
  font-size: 20px;
}

.btn-Search:hover {
  background-color: #108ee9;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  text-decoration: none;
  background-color: #108ee9;
}
.logo {
  height: 46px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background-image: url(wood2.jpg) !important;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.ant-menu-dark.ant-menu-inline,
.ant-menu-dark.ant-menu-vertical,
.ant-menu-dark.ant-menu-vertical-left,
.ant-menu-dark.ant-menu-vertical-right {
  border-right: 0;
  background-image: url(wood2.jpg);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-image: url(wood2.jpg) !important;
}

.Header-app {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.Header-item {
  display: flex;
  margin-top: 3px;
}

.item-btn {
  margin-left: 10px;
  font-weight: 600;
  color: rgb(241, 236, 236);
}

li {
  list-style: none;
}

.Content-app {
  height: 100%;
  width: 100%;
}

.Item-icon {
  position: absolute;
  right: 237px;
  top: 23px;
  max-height: 50px;
  max-width: 50px;
}

.Cart {
  max-height: 300px;
  max-width: 360px;
}

.Cart-item {
  display: none;
  position: absolute;
  background-image: url(wood.png);
  right: 224px;
  top: 52px;
  width: 359px;
  max-height: 395px;
  border-radius: 3px;
  overflow: auto;
}

.item-hover {
  cursor: pointer;
}

.item-hover:hover .Cart-item {
  display: block;
}

.img-item {
  max-height: 61px;
  max-width: 87px;
  margin-bottom: 4px;
  margin-left: 10px;
  min-width: 88px;
}


.img-foot-cart {
  min-width: 95px;
}

.list-Item:hover {
  background-image: url(wood2.jpg);
  border-radius: 5px;
}

.item-Food {
  max-height: 240px;
  min-width: 203px;
  position: relative;
  margin: 0;
  display: flex;
  background-color: rgba(146, 114, 25, 0.5);
  border-radius: 5px;
}

.btn-checkout {
  right: 10px;
}

.group-Cart {
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
}

.Title-cart {
  font-size: 22px;
  margin-left: 25px;
  margin-top: 5px;
}

.Detail {
  height: 60px;
  width: 100%;
}

.Detail-item {
  display: block;
  height: 23px;
  line-height: 20px;
  margin-left: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 0em;
}
body {
  background-image: url(wood.png);
}

.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 41.1px;
  background-image: url(wood2.jpg);
  border-style: solid;
  border-color: url(wood2.jpg);
}
.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
  background-image: url(wood2.jpg);
}
.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  -ms-flex: auto;
  flex: auto;
  min-width: 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-image: url(wood.png);
  color: black;
}
.ant-menu-dark.ant-menu-inline .ant-menu-item,
.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
  background-image: url(wood.png);
}

.ant-pagination {
  margin: 24px 0px;
  text-align: center;
  position: static;
}

.btn-Checkout {
  margin-left: 185px !important;
  line-height: 0 !important;
  margin-top: 0 !important;
  position: relative;
  top: -22px;
}



.ant-input-number-input {
  width: 100%;
  height: 21px;
  text-align: left;
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  outline: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -moz-appearance: textfield !important;
}

.ant-input-number-handler-wrap {
  position: absolute;
  top: 0;
  right: 2px;
  width: 41px;
  height: 100%;
  background: #fff;
  border-radius: 0 2px 2px 0;
  opacity: 0;
  -webkit-transition: opacity 0.24s linear 0.1s;
  -o-transition: opacity 0.24s linear 0.1s;
  transition: opacity 0.24s linear 0.1s;
}

.ant-input-number:hover {
  border-color: black;
  border-right-width: 0 !important;
}

.ant-input-number-handler-up-inner svg,
.ant-input-number-handler-down-inner svg {
  position: absolute !important;
  top: -5px !important;
  right: 3px !important;
  font-size: 22px !important;
}
