div {
    display: block;
}

.small-details-container    {
    max-width: 91%;
    margin: auto;
    padding: 45px 0px 0px 0px;
}

.row-details   {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background : url(https://i0.wp.com/images7.alphacoders.com/977/thumb-1920-977986.jpg);
    margin: 45px 0px 0px;
}

.col-2-details img  {
    max-width: 100%;
    padding: 50px 0;
}

.single-details-product .col-2-details img ,.single-details-product .KichCo{
    /* padding: 0; */
    height: 100%;
    width: 100%;
}

.single-details-product .col-2-details  {
    padding: 20px;
}

.col-2-details {
    flex-basis: 50%;
    line-height: 60px;
    margin: 25px 0;
}

.col-2-details h1   {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    text-align: center;
    font-weight: 300;
}

.single-details-product select  {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-details-product h5  {
    margin: 20px 0;
    font-size: 22px;
    font-weight: inherit;
}

.single-details-product input   {
    width: 56px;
    height: 56px;
    padding-left: 20px;
    font-size: 20px;
    border: 0px solid #ff523b;
    color: black;
    background-color: aqua;
}

input:focus {
    outline: none;
}

.btnThemVaoGio  {
    display: inline-block;
    background-color: #ff523b;
    color: #fff;
    margin: 30px 0;
    border-radius: 23px;
    /* transition: background; */
}

.btnThemVaoGio:hover    {
    background: #f55a00;
}

.single-details-product p  {
    color: black;
}

.small-details-container .row-details .De-Xuat  {
    display: flex;
    align-items: center;
    padding-bottom: .625rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 0px 0px;
}

.small-details-container .row-details .De-Xuat .Can-Trai    {
    /* font-size: 1rem; */
    flex-basis: 50%;
    max-width: 80%;
    color: rgba(0,0,0,.54);
    font-weight: 500;
}

.small-details-container .row-details .De-Xuat .Can-Phai    {
    flex-basis: 50%;
    display: inline-block;
    text-align: right;
}

.small-details-container .NoiDung-DeXuat    {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.row-details-1  {
    
}

/* .SP-Tuong-Tu-form   {
    margin-top: 20px;
    background : url(https://i0.wp.com/images7.alphacoders.com/977/thumb-1920-977986.jpg);
}

.SP-Tuong-Tu-form .SP-Tuong-Tu-section-simple   {
    padding-top: 1.25rem;
}

.SP-Tuong-Tu-form .SP-Tuong-Tu-section-simple .SP-Tuong-Tu-section__header  {
    display: flex;
    align-items: center;
    padding-bottom: 0.625rem;
}

.SP-Tuong-Tu-form .SP-Tuong-Tu-section-simple .SP-Tuong-Tu-section__header .SP-Tuong-Tu-section__header__title  {
    font-size: 1rem;
    color: rgba(0,0,0,.54);
    font-weight: 500;
    text-transform: uppercase;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 1.25rem;
}

a   {
    background-color: transparent;
}

.SP-Tuong-Tu-form .SP-Tuong-Tu-section-simple .SP-Tuong-Tu-section__header .SP-Tuong-Tu-section__header__title
.SP-Tuong-Tu-section__content   {
    position: relative;
    margin: -.4375rem;
}

.SP-Tuong-Tu-form .San-Pham-TuongTu {
    padding-top: .3125rem;
    width: 100%;
    height: 100%;
    position: relative;
} */