.rowItem {
  margin-top: 28px;
  margin-left: -37px;
  display: flex;
}

.colums {
  height: 280px;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
  margin: 22px 0px;
  margin-left: 32px;
}

.Card-item {
  width: 218px;
}

.ant-card-cover > * {
  display: block;
  width: 214px;
}

.ant-card-body {
  padding: 0 0;
  height: 118px;
  width: 215px;
}

.ant-card-meta-description {
  color: rgba(0, 0, 0, 0.45);
  margin-left: 24px;
  margin-top: 4px;
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-left: 15px;
  margin-top: 13px;
  margin-bottom: -5px;
  font-size: 24px;
}

.ant-card-cover img {
  border-radius: 9px 9px 9px 9px;
  height: 188px;
}

.ant-btn-block {
  width: 44%;
  margin-top: 17px;
}
.ant-layout-content {
  margin: 0 0;
}

.Breadcrumb-Header {
  height: 68px;
  position: relative;
}

.login {
  position: absolute;
  right: 23px;
  top: 13px;
}

.btn-login {
  position: absolute;
  width: 113px;
  top: 10px;
  right: 20px;
  margin: 0 0;
}

.btn-registration {
  position: absolute;
  width: 113px;
  top: 10px;
  right: 140px;
  margin: 0 0;
}

.ant-breadcrumb .anticon {
  font-size: 30px;
  right: 222px;
  top: 43px;
  color: white;
}

/* .Input-Search {
  width: 828px;
  height: 47px;
  margin: 1px 1px;
  padding: 3px 1px;
  border-radius: 3px;
  background-color: white;
} */

.Input-Search-text {
  outline: none;
  width: 667px;
  height: 41px;
  padding-left: 0px;
  border-radius: 3px;
  border: none;
  margin-left: 54px;
  padding-top: 10px;
  font-size: 21px;
  padding-bottom: 11px;
}

.icon-card {
  position: absolute;
  top: 43px;
  font-size: 20px;
}

/* .btn-Search {
  background-color: #108ee9;
  border-radius: 5px;
  height: 40px;
  width: 97px;
  padding: 4px 0px;
}

.btn-search-icon {
  color: white;
  margin: -4px 0;
  font-size: 5px;
} */

/* .btn-search-icon:hover {
  background-color: red;
} */

.logo {
  height: 46px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background-image: url(../wood2.jpg);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 35px;
  width: 100%;
}

.ant-menu-dark.ant-menu-inline,
.ant-menu-dark.ant-menu-vertical,
.ant-menu-dark.ant-menu-vertical-left,
.ant-menu-dark.ant-menu-vertical-right {
  border-right: 0;
  background-image: url(../wood2.jpg);
  font-weight: 600;
  color: rgb(241, 236, 236);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background-image: url(../wood2.jpg);
  font-weight: 600;
  color: rgb(241, 236, 236);
}


.ant-layout-sider-children {
  height: 100%;
  margin-top: -0.1px;
  padding-top: 41.1px;
}

.btn-controlles {
  position: absolute;
  right: -18px;
  top: -12px;
}

.anticon svg {
  display: inline-block;
  font-size: 26px;
  margin-bottom: 4px;
}

.site-layout{
    position: relative;
}

.btn-controlles{
    position: absolute;
}

.card-container.card {
    position: absolute;
    max-width: 350px !important;
    padding: 40px 40px;
    top: -600px;
    left: 530px;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

.section{
  position: relative;
  width: 100%;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.modal-btn:checked + label,
.modal-btn:not(:checked) + label{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  height: 33px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 100px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
  border: none;
  cursor: pointer;
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.modal-btn:not(:checked) + label:hover{
  background-color: #ffeba7;
  color: #102770;
}
.modal-btn:checked + label .uil,
.modal-btn:not(:checked) + label .uil{
	margin-left: 10px;
	font-size: 18px;
}
.modal-btn:checked + label:after,
.modal-btn:not(:checked) + label:after{
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 110;
  width: 40px;
  border-radius: 3px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  background-color: #ffeba7;
  color: #102770;
  font-family: 'unicons';
  content: '\eac6'; 
  box-shadow: 0 12px 25px 0 rgba(16,39,112,.25);
  transition: all 200ms linear;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
.modal-btn:checked + label:hover:after,
.modal-btn:not(:checked) + label:hover:after{
  background-color: #102770;
  color: #ffeba7;
}
.modal-btn:checked + label:after{
  transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.modal{
  position: fixed;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  background-color: rgba(31,32,41,.75);
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms 700ms ease;
}
.modal-btn:checked ~ .modal{
  pointer-events: auto;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.modal-wrap {
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 20px;
  background-color: #fff;
    -ms-flex-item-align: center;
    align-self: center;
    box-shadow: 0 12px 25px 0 rgba(199,175,189,.25);
  opacity: 0;
  transform: scale(0.6);
  transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}
.modal-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
.modal-wrap p {
  padding: 20px 30px 0 30px;
}
.modal-btn:checked ~ .modal .modal-wrap{
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}
.modal-btn:checked ~ .logo img {
  	filter: brightness(100%);
	transition: all 250ms linear;
}


@media screen and (max-width: 500px) {
	.modal-wrap {
		width: calc(100% - 40px);
		padding-bottom: 15px;
	}
	.modal-wrap p {
	  padding: 15px 20px 0 20px;
	}
}
.ant-card-body::after {
  display: table;
  clear: both;
  content: '';
  min-width: 500px;
  max-width: 500px;
  min-height: 1000px;
}